
*{
    display: flex;
    flex-direction: column;
    
}
head {
    display:none;
    flex-direction: row;

}
heading{
    height: 200px;
    overflow: hidden;
}


.scoreList{
    justify-content: space-between;
    color: white;
    
}
.scoreSection{
    
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    width: 180px;
    justify-content: space-between;
}

.fas,.fa-wine-glass-alt,.fa-award,.fa-question,.fa-glass-cheers,.fa-thumbs-up{

   color:#450802;
   font-size: 36px;   
}
.banner>h1>i{
    font-size: 36px;
}
main{

    width: 80%;

}
.banner{
    width: 100%;
   
    
}
.banner-image{
width: 100%;
padding: 0; 
margin:0;
height: 500px;
}
.bottom-banner{
    margin: 5% auto 5% auto;
    font-size: 22px;
    display: flex;
    flex-direction: column;
}
.wine-quotes{
    max-width: 250px;
    margin: 50px auto;
}
.image-bottom{
    max-width: 320px;
    margin: 0 auto;
}

.title{
    margin: 0;
}
button:hover{
    cursor: default;
} 

heading, .intro, #questionNumber>h2, .results{
    text-align: center;
}
.startButton,.submitButton,.nextButton{
    width: 100px;
    text-align: center;
    justify-content: last baseline;
    margin-left: 0;
    margin-right: 0

}
.startButton>h3,.submitButton>h3,.restartButton>h3,.nextButton>h3{
    width: 100%;
    margin:0 auto;
}
.correctFeedback{
    max-width: 650px;
    height: 400px;
}

.banner{
    background: #067546;
    max-height: 125px;
}
main{
background-color: white;
width: 100%;
display: flex;
flex-direction: column;
}
.main-quiz{
    width: 70%;
    height: 350px;
    overflow: scroll;
    margin: -450px auto;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.937);
    box-shadow: 0px 0px 2px 4px rgba(0, 36, 94, 0.298);
    padding: 15px
}
button{
    box-shadow: 0px 0px 1px 2px rgba(0, 36, 94, 0.298);
    margin: 2%;
}
button{
    border-radius: 8px;

}
button {
    background:#00245E;
    color: white;
    font-size: 18px;
    height:39px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}
.answerOption{
    flex-direction: row;
    align-content: center;
   
}

.second-line{
    display: block;
}
.intro>p{
    margin: 1% 0 0 0;
}

*{
   font-family: 'Playfair Display', serif;
}
h3,ul{
    padding: 1%; 
}

h2,.questionAnswerForm{
    font-size: 20px;
    color: #0F3161
}
main,.startButton,.submitButton,.fas,.fa-wine-glass-alt{
    margin-left: auto;
    margin-right: auto;
}
fieldset{
    border: none
}
input{
    display: hidden;
}

h1{
    padding: 0;
    color: white;
    display: inline-block;
}

body{

    margin: 0;
    display: flex;
    flex-direction: column;
}


#js-wine-form,.questionAnswerForm{
    padding: 1%;
  
}
.questionAnswerForm{
    display: none;
    align-self: center;
}
.results-correctFeedback, .correctFeedback{
    text-align: center;

}


.animatedShake{
        /* Start the shake animation and make the animation last for 0.5 seconds */
        animation: shake 0.3s; 
      
        /* When the animation is finished, start again */
        animation-iteration-count: 1; 
}
      
@keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
}


@media screen and (min-width: 499px) {
h1{
    font-size: 40px;
}
.bottom-banner{
    margin-top: 570px;
}
.main-quiz{
    width: 65%;
    height: 300px;
}

}
@media screen and (max-width: 498px) {
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 16px; 
    }
    input[type=radio]{
        padding: 5px; 
    }
    .questionAnswerForm,.answerOption{
        font-size: 14px;
    }
    .bottom-banner{
        margin-top: 575px;
    }
    .main-quiz{
        width: 65%;
        height: 300px;
    }
}

@media screen and (max-width: 320px) {
    h1{
    font-size: 18px;
    };
    li{
    font-size: 18px;
    }
        
    .second-line,.first-line{
    font-size: 18px;
    }
    .fas{
    display: none;
    }
    .bottom-banner{
        margin-top: 600px
    }
}

@media screen and (min-width: 750px) {
    .scoreSection{
        position: absolute;
        top:0;
    }
    heading{
        height: 65px;
        
    }
    .bottom-banner{
        flex-direction: row;
    }
    .image-bottom{
        max-width: 390px;
        margin-right: 5%;
        margin-left: 0
}